.footer
  background-color: #0089a9
  color: #ffffff
  padding-bottom: 40px
  a
    &,
    &:visited
      color: #ffffff !important
      &:hover
        color: $secondary
      &:not(.icon)
        border-bottom: 1px solid $secondary
        &:hover
          background-color: $secondary
          // border-bottom-color: #ffffff
